
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


:root {
    --text-color : #9c9c9c;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background: #111;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: .95em;
    position: relative;
}
svg, img{
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}
.navbar {
    height: 70px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    width: 70px;
}
.menu-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #333;
    transition: transform .6s;
    transform: rotate(180deg);
}
body.show_menu .menu-btn {
    transform: rotate(0deg);
}
.menu-btn svg {
    fill: #eee;
    width: 20px;
    vertical-align: middle;
}
.menu {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: rgba(51, 51, 51, 0.404);
    width: 400px;
    height: fit-content;
    max-height: calc(100% - 80px);
    min-width: 300px;
    overflow-y: auto;
    padding: 15px;
    border: 1px solid rgba(238, 238, 238, 0.267);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.396);
    z-index: 99;
    transition: transform .6s;
    transform: translateX(100%);
}
body.show_menu .menu {
    transform: translateX(-10%);
}
.menu .menu-item{
    margin: 20px 5px;
}
.menu .property-title {
    text-transform: uppercase;
    border-bottom: 1px solid var(--text-color);
    font-size: small;
}
.menu .property-list {
    display: flex;
    flex-wrap: wrap;
}
.menu .property {
    margin: 5px;
}
.menu .property-input{
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    margin: 10px 0;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: .6s;
    
}
.menu .property-input:has(input:checked) {
    border-color: #008cff;
}
.menu .property input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    
}
.menu .property .property-img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(221, 221, 221, 0.165);
}

.menu .color1 .property-img {
    background: linear-gradient(270.21deg, #003967 5.49%, #008CFF 99.83%);
} 
.menu .color2 .property-img {
    background: linear-gradient(270.21deg, #670000 5.49%, #FF007A 99.83%);
} 
.menu .color3 .property-img {
    background: linear-gradient(270.21deg, #006736 5.49%, #00C2FF 99.83%);
} 
